#navegacao{
    grid-area: navegacao;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em auto;
    border-radius: 30px;
    padding: 0.3em;
    width: 50%;
    height: 40px;
    background-color: var(--prime-color);
}
.navegacao__item, .navegacao__item--menu{
    background-color: var(--second-color);
    color: var(--prime-color);
    padding: 0.2em;
    border-radius: 40px;
    font-size: 22px;
    border-radius: 40px;
    transition: 0.4s;
}
.navegacao__item--menu{
    border-radius: 5px;
}
.navegacao__item:active, .navegacao__item:hover, .navegacao__item--menu:hover{
    background-color: #7f7f7f;
    color: #1f1f1f;
}