#sobre{
    grid-area: sobre;
    transition: 0.4s;
}
#sobre:hover{
    transform: translateY(-5px);
}
#sobre > .bloco{
    display: flex;
    align-items: center;
    height: 200px;
}
#sobre > .titulo{
    cursor: default;
}
#sobre > .bloco > p{
    cursor: default;
    padding-inline-start: 0.5em;
    font-size: 16px;
}
#foto-perfil{
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    width: 170px;
    height: 170px;
    transition: 0.4s;
}
#foto-perfil:hover{
    rotate: -2deg;
    box-shadow: -4px 4px 6px var(--bgHover-color-inSubody);
}