.container{
    position: relative;
    display: grid;
    padding: 1.3em;
    justify-content: center;
    grid-template-areas: 
    "sobre"
    "projetos"
    "contatos";
    gap: 5em;
    grid-template-rows: repeat(2, 100vh), 30vh;
}
#contatos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 1em;
    max-width: 350px;
    margin: auto;
    text-align: end;
    font-size: 1.3em;
    color: #fff;
}
#footer__titulo{
    text-align: center;
    font-size: 34px;
}
footer > span{
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;
}
footer > span > a{
    text-align: center;
}
#hoverIcon{
    transition: .4s;
}
#socialMedia__icon{
    width: 80px;
}
.socialMedia__link:hover #hoverIcon{
    fill: var(--second-color);
}
.link-text{
    color: var(--prime-color);
    text-decoration: none;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}
dialog{
    position: absolute;
    /* text-align: center; */
    left: 0;
    right: 0;
    top: 10%;
    border-radius: 5px;
    margin: 0 auto;
    width: 210px;
    height: 220px;
    border: transparent;
    background-color: var(--prime-color);

    .itensModal{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        }

    a{        
        button{
            padding: 1em  2.5em;
            margin: 5px;
            background-color: var(--second-color);
            color: #fff;
            border: 2px solid #ffffff39;
            border-radius: 5px;
        }
    }

    #closeBtn{
        position: absolute;
        z-index: 99;
        font-size: 28px;
        top: 0px;
        right: 5px;
        color: var(--second-color);
        border-radius: 30px;
    }


}
@media (max-width: 500px) {
    .container{
        gap: 9em;
        grid-template-rows: repeat(2, 110vh), 30vh;
    }
}