#sobre{
    grid-area: sobre;
}
.sobre__desc{
    height: 60vh;
    width: 400px;
    margin: 2em auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 30px;
    border-radius: 15px;
    color: var(--prime-color);
}
.sobre__desc div{
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--second-color);
    transition: .4s;

    &:hover{
        transform: translateY(-5px);
        border-bottom: solid 5px var(--joker-color);
    }
}
#foto-perfil{
    max-width: 250px;
    max-height: 20rem;
    object-fit: contain;
    border-radius: 5px;
    transition: 0.4s;
}
.sobre__projetos{
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.arrow__btn{
    color: var(--second-color);
    background-color: var(--joker-color);
    font-size: 24px;
    padding: .3em .6em;
    border-radius: 50px;
}

/* Definição de media queries */
@media (max-width: 500px) {
    .sobre__desc{
        height: 60vh;
        width: 100%;
        font-size: 22px;
        gap: 1em;
    }
    #foto-perfil{
        height: 13rem;
    }
    .sobre__projetos{
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 18px;
    }
    
}
@media (max-height: 700px){
    .sobre__desc{
        height: 50vh;
        width: 100%;
        font-size: 20px;
        /* gap: .5em; */
    }
    .sobre__projetos{
        margin-top: 5.5em;
    }
    #navMobile{
        margin-top: 1em;
        margin-bottom: .3em;
    }
    #foto-perfil{
        height: 12rem;
    }
}
@media (min-height: 800px){
    .sobre__desc{
        width: 100%;
        font-size: 22px;
        gap: .5em;
    }
    .sobre__projetos{
        margin-top: 0;
        font-size: 18px;
    }
    #navMobile{
        margin-top: 2em;
        margin-bottom: 2em;
    }
    
}