#ferramentas{
    grid-area: ferramentas;
}
.ferramentas__itens{
    display: flex;
    align-items: center;
    padding: 0.5em;
    overflow: auto;
    margin: auto;
    width: 80%;
    background-color: var(--third-color);
}
.ferramentas__itens > span{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}
.ferramentas__itens > span > img{
    width: 60px;
    transition: 0.4s;
}
.ferramentas__itens > span > img:hover{
    filter: drop-shadow(0 0 0.50rem var(--prime-color));
}