#navegacao{
    grid-area: navegacao;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em auto;
    border-radius: 30px;
    padding: 0.3em;
    width: 50%;
    height: 100%;
    background-color: var(--prime-color);
}
.navegacao__item, .navegacao__item--menu{
    color: var(--second-color);
    padding: 0.22em;
    font-size: 24px;
    border-radius: 35px;
    transition: 0.4s;
}
.navegacao__item--menu{
    border-radius: 10px;
}
.navegacao__item:active, .navegacao__item:hover, .navegacao__item--menu:hover{
    background-color: var(--second-color);
    color: #fff;
}