body{
    position: relative;
    display: grid;
    grid-template-areas: 
    "suBody"
    "footer";
    grid-template-rows: 95% 5%;
    gap: 1em;
    padding-top: 3em;
    background: fixed linear-gradient(135deg , #191c23, #65758f);
}
#suBody{
    grid-area: suBody;
    display: grid;
    grid-template-areas: 
    "navegacao"
    "sobre"
    "projetos"
    "ferramentas";
    grid-template-rows: 5% auto auto auto auto;
    gap: 1.3em;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 1.5em 0.5em;
    height: 100%;
    background-color: var(--second-color);
    color: var(--prime-color);
}
#escureceTela{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 70%;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
}
#footer__titulo{
    font-size: 28px;
}
footer > span{
    display: flex;
    justify-content: space-evenly;
    margin: 1em 5em;
}
footer > span > a > img{
    padding: 0.3em;
    width: 60px;
    transition: 0.4s;
    border-radius: 10px;
}
footer > span > a > img:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.link-text{
    color: var(--main-color);
    text-decoration: none;
}
.titulo{
    margin-bottom: 0.4em;
    text-align: center;
    font-size: 28px;
}
.bloco{
    border-radius: 10px;
    padding: 1em;
    background-color: var(--prime-color);
    color: var(--second-color);
}