#sobre{
    grid-area: sobre;
    transition: 0.4s;
}
#sobre:hover{
    transform: translateY(-3px);
    filter: drop-shadow(0 0 0.5rem var(--prime-color));
}
#sobre > .bloco{
    display: flex;
    align-items: center;
    padding: 0.5em;
}
#sobre > .titulo{
    cursor: default;
}
#sobre > .bloco > #sobre__texto{
    padding-inline-start: 1em;
    font-size: 16px;
    font-weight: 500;
    cursor: default;
}
#foto-perfil{
    border-radius: 20px;
    transition: 0.4s;
    vertical-align: middle;
}
#verMaisBtn{
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    filter: drop-shadow(0 0 0.20rem var(--bgHover-color-inSubody));
    transition: 0.4s;
}
#verMaisBtn:active, #verMaisBtn:hover{
    filter: drop-shadow(0 0 1em var(--second-color));
}
