#sobre{
    grid-area: sobre;
    transition: 0.4s;
}
#sobre:hover{
    transform: translateY(-3px);
    filter: drop-shadow(0 0 0.5rem var(--prime-color));
}
#sobre > .bloco{
    display: flex;
    align-items: center;
    padding: 0.5em;
    width: 90%;
    max-width: 660px;
    margin: auto;
}
#sobre > .titulo{
    cursor: default;
}
#sobre > .bloco > #sobre__texto{
    padding-inline-start: 1em;
    font-size: 16px;
    font-weight: 500;
    cursor: default;
}
#foto-perfil{
    border-radius: 20px;
    transition: 0.4s;
    vertical-align: middle;
}
#verMaisBtn{
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    color: var(--second-color);
    filter: drop-shadow(0 0 0.20em var(--third-color));
    transition: 0.4s;
}
#verMaisBtn:active, #verMaisBtn:hover{
    filter: drop-shadow(0 0 1.5em var(--second-color));
}

/* Definição de media queries */

@media screen and (min-width: 1080px){
    #sobre > .bloco{
        width: 60%;
    }
}